@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    font-family: 'Silkscreen', cursive;
    /* margin: 0px;
    padding:0px; */
    /* background-color: rgb(85, 85, 251); */
    /* overflow-y: hidden; */
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding:0px;
}

.sidebar {
    /* position: fixed;
    top: 0;
    right: 0; */
    position: sticky;
    top: 0px;
    background-color: rgb(85, 85, 251);
    /* width: fit-content; */
    width:max-content;
    padding: 25px;
    height: 100vh;
    color: white;
    font-size: 1.5rem;
}

.body {
 /* text-align: center; */
display: flex;
flex-direction: row;
padding: 0px;
position: relative;
/* background-color: red; */
justify-content: right;

}

.namee {
    font-size: 4rem;
    color:rgb(85, 85, 251);
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    text-align: center;
}

.main {
    text-align: center;
    /* background-color: red; */
    margin-right: 20px;
    width: 100%;
}

.mark {
    font-family: 'Roboto', cursive;
}